.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  font-size: 2rem;
  margin: 1rem;
}

.img {
  margin: 0 auto;
  height: 10rem;
}

.description {
  font-size: 0.8rem;
}

.info {
  justify-self: end;
  display: flex;
  justify-content: space-around;
}
