.card {
  
  height: 85%;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  background-image: linear-gradient(
    to right bottom,
    var(--color-grey),
    var(--color-grey-2)
  );
}
